body {
    //background-color: #08141e;
    background-color: black;
    color: #f6d6bd;
    font-size: large;
}

#content {
    margin: auto;
    max-width: 800px;
    font-family: "Garamond";
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    text-decoration-line: underline;
    line-height: 10px;
}

p {
    text-align: justify;
}


.center {
    margin: auto
}

.fade_in {
    display: block !important;
    animation: center_fade_in_keyframes 1.0s;
}

@keyframes center_fade_in_keyframes {
    from {
        opacity: 0;
    }
    to {
        opacity: 1.0;
    }
}

@media screen and (max-width: 800px) {
    #content {
        width: 100%;
    }
}
